@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Colori custom */
  --background-dark: #1a1a1a;

  /* Font custom */
  --font-montserrat: "Montserrat", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Usa il font dinamico */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
p{
  cursor: pointer;
}